@import 'tailwindcss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    transition: background-color 0.3s, color 0.3s;

}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #170448;
    color: #ffffff;
}

body {
    background-color: #170448;
}
