<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/img/logo.png}" alt="Code Masters" class="logo-img">
        </a>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/about}">Sobre</a></li>
            <li><a th:href="@{/nosso-metodo}">Nosso Método</a></li>
            <li><a th:href="@{/comunidade}">Comunidade</a></li>
            <li><a th:href="@{/cursos}">Cursos</a></li>
            <li><a th:href="@{/suporte}">Suporte</a></li>
            <!-- TODO: porquê as divs dentro de uma ul??? -->
            <div class="mode-black">
                <li>
                    <a>
                        <img th:src="@{/img/usuario/luz.png}" alt="Mudar o tema" style="width: 35px">
                    </a>
                </li>
            </div>
            <div class="user-menu">
                <a href="dashboard.html">
                    <img th:src="@{/img/usuario/user2.png}" alt="Ícone de usuário"
                         class="user-icon" style="width: 35px; margin-left: -10px; margin: 0 5px;">
                    <!-- TODO: fix the margins -->
                </a>
                <div class="user-info">
                    <p>
                        <strong>Classificação do aluno:</strong>
                        <img th:src="@{/img/usuario/medalha.png}" alt="Classificação" class="classificacao-icon">
                    </p>

                    <p><strong>Nome:</strong>Jose Fernando</p>
                    <p><strong>País:</strong> Angola</p>
                    <p><strong>Idade:</strong> 19 anos</p>
                    <p><strong>Sexo:</strong>M</p>
                    <p><strong>Nível:</strong>DEV Junior</p>
                    <p><strong>Email:</strong> fernandojose10@gmail.com</p>
                    <p><strong>Aréa de inscrição:</strong> Programação</p>
                </div>
            </div>
        </ul>
    </nav>
</div>

<div th:fragment="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Code Masters</h3>
                <ul>
                    <li><a href="#">Trabalhe Connosco</a></li>
                    <li><a href="#">Arquivo</a></li>
                    <li><a href="#">Portal dos alunos</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Navegação</h3>
                <ul>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="metodo.html">Nosso Método</a></li>
                    <li><a href="comunidade.html">Comunidade</a></li>
                    <li><a href="cursos.html">Cursos</a></li>
                    <li><a href="suporte.html">Suporte</a></li>


                </ul>
            </div>
            <div class="footer-section">
                <h3>Políticas e Termos</h3>
                <ul>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Termos de Uso</a></li>

                </ul>
            </div>
            <div class="footer-section">
                <h3>Contactos</h3>
                <ul>
                    <li>
                        Suporte:
                        <a href="tel:+244 925 607 551">+244 925 607 551</a>
                    </li>
                    <li>
                        Financeiro:
                        <a href="tel:+244 951 440 702">+244 951 440 702</a>
                    </li>
                    <li>
                        Comercial:
                        <a href="tel:+244 939 781 010">+244 939 781 010</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Tenha-nos na palma da sua mão</h3>
                <ul>
                    <li>
                        <a href="https://apple.com" target="_blank">
                            <img th:src="@{/img/footer/IMG_3194-removebg-preview.png}" alt="Apple" class="icones-f2">
                        </a>
                    </li>
                    <li>
                        <a href="https://play.google.com" target="_blank">
                            <img th:src="@{img/footer/IMG_3196-removebg-preview.png}" alt="Google Play"
                                 class="icones-f2">
                        </a>
                    </li>
                </ul>

                <h3>Redes Sociais</h3>
                <ul class="social-links">
                    <li>
                        <a href="https://linkedin.com" target="_blank">
                            <img th:src="@{/img/login/IMG_1802.PNG}" alt="LinkedIn" class="icones-f">
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com" target="_blank">
                            <img th:src="@{/img/login/IMG_1803.PNG}" alt="X (antigo Twitter)" class="icones-f">
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com" target="_blank">
                            <img th:src="@{/img/login/IMG_1804.PNG}" alt="YouTube" class="icones-f">
                        </a>
                    </li>
                </ul>

                <h3>Fale connosco</h3>
                <ul>
                    <li><a href="https://codemasters.co.ao">codemasters.co.ao</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
