<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/favicon/favicon.png" type="image/x-icon">
    <title>Login-Code Masters</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
        <div class="welcome-section">
            <h1>BEM-VINDO!</h1>
            <p>A Code Masters, parabens por chegar aqui, sinal que tem vontade de se tornar um desenvolvedor.
                ja tem uma conta? faça login, caso nao tenha uma, faça o cadastro.
            </p>
            <a href="register.html">
            <button class="learn-more"> <h3>Fazer cadastro</h3></button></a>
        </div>
        <div class="login-section">
               <a href="index.html">
                <img src="../static/img/logo.png" alt=""></a>
            <form>
                <label for="username">Nome de usuario</label>
                <input type="text" id="username" placeholder="Nome/Email">

                <label for="password">Palavra-Passe</label>
                <input type="password" id="password" placeholder="*********">
                <br>
               <a href="dashboard.html">
                <button type="submit" class="submit">Entrar</button>
               </a>

                <div class="social-icons">
                    <a href="#"><img src="../static/img/login%20icones/IMG_1802.PNG" alt="Facebook"></a>
                    <a href="#"><img src="../static/img/login%20icones/IMG_1803.PNG" alt="Instagram"></a>
                    <a href="#"><img src="../static/img/login%20icones/IMG_1804.PNG" alt="Pinterest"></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
