<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon/favicon.png" type="image/x-icon">
    <title>Cadastro-Code Masters</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    <div class="container">
        <div class="welcome-section">

        <h1>JUNTE-SE A FAMILIA</h1>
            <p>Code Masters, parabéns por chegar aqui, sinal de que tem vontade de <br> se tornar um desenvolvedor.</p>
            <p>Para criar sua conta, preencha o formulário.</p>
        </div>
        <div class="form-section">
            <form class="sign-up-form">
                <div class="logodois">
                    <a href="index.html">
                    <img src="../static/img/index%20imagem/IMG_2566-removebg-preview - cópia.png" alt="logo" class="logo-img">
                  </a>
                  <div>

                <select name="Genero" id="">
                    <option value="Femenino">
                        Escolher Genero
                    </option>
                    <option value="masculino">
                        Masculino
                    </option>
                    <option value="Femenino">
                        Femenino
                    </option>

                </select>
            </div>
                  <form action="register.php">
                    <label for="username">Nome Completo</label>
                    <input type="text" id="username" name="username" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="password">Palavra-Passe</label>
                    <input type="password" id="password" name="password" required>


                    <div class="term">

                     <p style="color: rgb(8, 170, 8);">Aceitar termos e condições. <br>
                    </p>


                    </div>
                </form>
               <a href="dashboard.html">
                <button type="submit" class="sign-up-submit" style="border-radius: 15px;">Cadastrar</button>
            </a>
            </form>
        </div>
    </div>
</body>
</html>
